#root {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  /* stone-200 */
  background-color: #e7e5e4;
  /* padding: 30px; */
}
html {
  font-family: Rubik !important;
}
a.active {
  color: #2e5bff;
  font-weight: 500;
  background: rgba(46, 91, 255, 0.1);
}
a.active::before {
  content: '';
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  background-color: #2e5bff;
}

/* a:hover {
  background-color: rgba(46, 91, 255, 0.1);
} */

nav {
  transition: all 0.2s;
}

nav.expanded ul li {
  align-items: center;
  justify-content: center;
}

nav.expanded ul li a {
  align-items: center;
  justify-content: center;
}
nav.expanded ul li a svg {
  margin: 0;
}
